:root{
    --branco-principal: bisque;
    --footer: rgb(2,4,68);
    
}
body{
    background-color:var(--branco-principal);
    font-family: Bai Jamjuree   ;
}

footer{
    background-color: rgb(3, 4, 68);
    color: antiquewhite;
    position: fixed;
    width:100% ;
    bottom: 0;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.7;
    margin-top: 0.5rem;
}