:root{
    --branco-principal: bisque;
    --footer: rgb(2,4,68);
    
}
body{
    background-color:var(--branco-principal);
}

footer{
    background-color: rgb(3, 4, 68);
    color: antiquewhite;
    position: fixed;
    width:100% ;
    bottom: 0;

}

footer p{
    text-align: center;
    font-size: 0.7;
}